@charset "UTF-8";

body{
    background-color: rgb(25, 25, 25);
    h1{
        background-color: darkgoldenrod;
        color: orangered;
    
    }
    h2{
        color: green;
    }
    p{
        color: white;
    };
}